{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "bdd"
  ],
  "rules": {
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0,
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "func-names": 0,
    "eol-last": 0,
    "no-console": 0,
    "bdd/focus": 2,
    "bdd/exclude": 2,
    "comma-dangle": 0,
    "no-unused-vars": 0
  }
}
